PAYPAL_CLIENT_ID=AZ7O56c81IZ3OjiNLbYGSTPdF20CdASdhNgXpD5ZjmmlV1z96a26DXlU8J-ePVFKbbr42G4v0az2UOVR
PAYPAL_CLIENT_SECRET=EEAkaJN3WffKd2bVqr6Fpy93bMGPYcUMTLUrC5MLmO7B8kQXjBjts3zj4NKtMG_7mJ92FWP2kZlwEMjb
PAYPAL_MODE=sandbox
PORT=5000
FRONTEND_URL=http://localhost:3000
# Local: use localhost. Docker Compose overrides with mongodb://db:27017/paypal_db
MONGODB_URI=mongodb://localhost:27017/paypal_db